
<!-- currently a list of all users -->



<div class='col-md-4'>
  <h2>Possible friends</h2>
  <% current_user.possible_friends.each do |f|%>
    <%= image_tag f.avatar.url(:thumb) %>
    <br>
    <div class="form-font"><%= f.name%></div>
    <div class="form-font"> <%= link_to "Request to be friends", friendship_requests_path(:friendee_id => f.id), :method=>:post %></div>

    
  <% end %>

</div>








<!-- creates a friendship_request -->


<!-- shows who have sent requests to the current_user -->

<% if logged_in? %>
  <%= link_to "Log Out", logout_path, method: :delete %>
<% end %>

