
<!-- currently a list of all users -->
<h2>possible friends</h2>
<div>

  <% current_user.possible_friends.each do |f|%>
    <%= image_tag f.avatar.url(:thumb) %>
    <%= f.name %>
    <%= link_to "request to be friends", friendship_requests_path(:friendee_id => f.id), :method=>:post %>

    
  <% end %>

</div>


<% if logged_in? %>
  <%= link_to "Log Out", logout_path, method: :delete %>
<% end %>