<h1>More about <%= @user.name %></h1>

<!-- User avatar -->
<!-- Previous check-ins -->
<!-- Friends -->
<%= image_tag @user.image.url, size: "400x325" %>

<!-- if/else current user sees different view -->

  <%= mail_to @user.email, "Send email", subject: "#{@user.name} Says Hello!" %>
  <!-- Need to implement messaging system? -->