<h1>More about <%= @user.name %></h1>

<!-- User avatar -->
<!-- Previous check-ins -->
<!-- Friends -->


<!-- if/else current user sees different view -->

  <%= mail_to @user.email, "Send email", subject: "#{@user.name} Says Hello!" %>
  <!-- Need to implement messaging system? -->