<h1>More about <%= @user.name %></h1>

<!-- User avatar -->
<!-- Previous check-ins -->
<!-- Friends -->

<h5>Contact</h5>
<!-- if/else current user sees different view -->

  <%= mail_to @user.email, "Send email", subject: "Hello!" %>
  <!-- Need to implement messaging system? -->