<h1>More about <%= @user.name %></h1>

<!-- User avatar -->
<%= @user.checkins.name %>
<!-- Friends -->

<!-- NEED TO FORMAT THIS PAGE -->

<%= image_tag @user.avatar.url, size: "200x200" %>

<!-- if/else current user sees different view -->

  
  <!-- Need to implement messaging system? -->