<nav class='navbar navbar-default navbar-fixed-bottom'>
  <footer>
    <span><%= link_to "About", about_path %> |  </span>
    <span><%= link_to "Contact Us", contact_path %> |  </span>
    <span><%= link_to "Developers", developers_path %></span>
  </footer>
</nav>