<div class="pages">
  <h2>What's Happenin Documentation for Developers</h2>
  <hr>
  <p>Nulla facilisi. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Duis leo. Sed cursus turpis vitae tortor.

  Curabitur a felis in nunc fringilla tristique. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Aliquam eu nunc. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</p>

  <a href="/api/users">Click Here for the What's Happenin' API.</a>
  
  <button class="btn btn-info btn-register btn-lg nav-links"><%= link_to "Back Home", root_path %></button>
</div>