

	<! -- ********** HEADER ********** -->
	<div id="h">
		<div class="container">
			<div class="row">
					<% if !logged_in? %>
	          <button class="btn btn-lg btn-info btn-register"><%= link_to "Sign Up", new_user_path %></button>
	          
	          <button class="btn btn-lg btn-info btn-register"><%= link_to "Log In", login_path %></button>
	        <% end %>


          <% if logged_in? %>
            <li><button class="btn btn-lg btn-info btn-register"><%= link_to "Log Out", logout_path, method: :delete %></button></li>
          <% end %>

			    <div class="col-md-10 col-md-offset-1 mt">
			    	<h1 class="mb">WHAT'S HAPPENIN?</h1>
			    </div>

			</div>


        <!-- GOOGLE MAP -->
      <div class="row map-container">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div id="map-canvas" class="centered"></div>
      </div>

      <div class="row instaDiv">

      <ul id="picture-feed">  
        
    	</ul>
      	
      </div>

		</div><! --/container -->
	</div><! --/h -->
	
	<! -- ********** FIRST ********** -->
	<div id="w">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">
				<h4>Handsome Analytics</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-info btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>
			
			<div class="col-md-6 pull-right">
				<img src="assets/img/shot01.png" class="img-responsive alignright" alt="" data-effect="slide-right">
			</div>
		</div><! --/row -->
	</div><! --/container -->
	

	<! -- ********** BLUE SECTION - PICTON ********** -->
	<div id="picton">
		<div class="row nopadding">
			<div class="col-md-6 pull-left">
				<img src="assets/img/shot02.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
			</div>
			<div class="col-md-5 mt">
				<h4>Multiple Templates Options</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>
	
		</div><! --row -->
	</div><! --/Picton -->
	
	
	<! -- ********** BLUE SECTION - CURIOUS ********** -->
	<div id="curious">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">
				<h4>Important Tools Provided</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>
			
			<div class="col-md-6 pull-right">
				<img src="assets/img/shot03.png" class="img-responsive alignright" alt="" data-effect="slide-right">
			</div>
		</div><! --/row -->
	</div><! --/curious -->




	<! -- ********** FOOTER ********** -->
	<div id="f">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 centered">
					<h4 class="mb">Lorem ipsum.</h4>
					<form role="form" action="register.php" method="post" enctype="plain"> 
	    				<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
						<button class='btn btn-lg btn-info btn-sub subscribe-submit' type="submit">Yes, Please</button>
					</form>
				
				</div>

			</div><! --/row -->
		</div><! --/container -->
	</div><! --/F -->

	<! -- ********** CREDITS ********** -->
	<div id="c">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 centered">
					<p>Copyright 2015 | JKTZ <3</p>
				</div>
			</div>
		</div><! --/container -->
	</div><! --/C -->
