// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
  position: fixed;
  width: 100%;
  text-align: right;
  background-color: #2574A9;
  top: 0;
  z-index: 1;
}

.pages {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 150px;
  background-color: white;
}

.login-nav {
  margin-top: 20px;
  color: white;
}

.nav-links a {
  color: white;
}

.header-title {
  margin-top: 20px;
}

.descript {
  color: white;
}

.land-page {
  margin-top: 20px;
  margin-bottom: 115px;
}

#h.map-container { 
  width: 90%;
  text-align: center;
  margin: 100px;
}

#map-canvas { 
  height: 400px;
  margin: 0;
}

.map-canvas {
  height: 400px;
  margin: 0;
}

#instacount {
  font-size: 40px;
  color: yellow;
}

#h.instaDiv {
  width: 100%;
  margin-top: 20px;
}

#picture-feed li {
  display: inline-block;
  list-style-type: none;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Helvetica;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 300;
}

 #target {
  width: 345px;
}

// what's happenin' div on welcome index
.wh {
  width: 90%;
  margin-bottom: 20px;
  img {
    margin-bottom: 20px;
  }
  .wh-div {
    padding: 25px;
  }
}

.wh-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
}

.footer-ul {
  li { 
    display: inline-block;
    list-style-type: none;
    margin: 10px;
  }
}

.welcome-footer {
  margin-top: 20px;
}

.gray {
  color: white;
}

.form-align {
  width: 100%;
  text-align: left;
}